.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}

.library {
  padding: 20px;
}

.library h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-left: 20px;
}

.library #bookCount {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.book #title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

/* Book Statuses */

.read {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid green;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.notRead {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid red;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.reading {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid goldenrod;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.read #title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: green;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.notRead #title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: red;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.reading #title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: goldenrod;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.read:hover {
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid green;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.notRead:hover {
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid red;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.reading:hover {
  border: 1px solid goldenrod;
  border-radius: 10px;
  padding: 20px;
  border-left: 8px solid goldenrod;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  line-height: 1.75;
}

.book p {
  font-family: "Roboto", sans-serif;
}

.bookForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}

select {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
}

#saveBtn {
  grid-column: 1 / span 2;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

.bookForm input, .bookForm textarea {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.bookForm textarea {
  grid-column: 1 / span 2;
  height: 50px;
}

#bookBtn {
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}